*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inicio index*/
body{
    background-image: linear-gradient(to right, rgb(201, 119, 119), rgb(231, 25, 180));
}
/*inicio header*/
#navBar{
    background-color: rgb(247, 187, 96)!important;
}

.navbar-brand{
    font-size: 50px;
    text-shadow: 5px 5px 5px #ccc;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.navbar-nav a{
    color: rgb(52, 1, 133) !important;
    font-size: 20px;
}

.navbar-nav a:hover{
    color: rgb(83, 241, 20) !important;
}
/*fin header*/

/*inicio main*/
#masPedidos{
    padding-top: 5px;
    color:honeydew;
}

.proPrin{
    color: gainsboro;
    font-size: 30px;
}

.proPrin img{
    max-width: 400px;
}

.infoGeneral{
    padding-left: 60px;
    padding-top: 10px;
    width: 100%;
}
/*inicio footer*/
footer{
    color: floralwhite;
}

.legal{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    font-size: 25px;
    color: whitesmoke;
}

.redesSociales{
    text-align: center;
}

.redesSociales{
    text-align: center;
}

.redesSociales i{
    font-size: 50px;
    color: rgb(47, 255, 75);
    padding: 75px 50px 50px 50px;
}

.redesSociales i:nth-child(2){
    color: blue;
}

.redesSociales i:nth-child(3){
    color: lightblue;
}

.redesSociales i:nth-child(4){
    color: red;
}
/*fin index*/

/*inicio Nosotros*/
.contenedor{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding-top: 50px;
    padding-bottom: 50px;
}
.historia{
    display: flex;
    flex: 1 1 70%;
}

h2{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
aside img{
    border-radius: 5%;
    height: 600px;
}
/*fin Nosotros*/

/*incio Pastas*/
.contenedorPastas{
    display: grid;
    width: 100%;
    grid-template-rows: 250px 250px;
    column-gap: 5px;
    row-gap: 10px;
    margin-bottom: 50px;
    margin-top: 10px;
}

.pastas1{
    background-image: url(/imágenes/pastas2.jpg);
    grid-column: 1/2;
    grid-row: 1/3;
    background-size: contain;
}
.pastas1:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}

.pastas2 {
    background-image: url(/imágenes/ravioles.jpg);
    background-size: cover;
    grid-column: 2/3;
    grid-row: 1/2;
}
.pastas2:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}

.pastas3 {
    background-image: url(/imágenes/ñoquis.jpg);
    background-size: cover;
    grid-column: 3/5;
    grid-row: 1/2;
}
.pastas3:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}

.pastas4 {
    background-image: url(/imágenes/sorrentinos.jpg);
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/4;
}
.pastas4:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}

.pastas5 {
    background-image: url(/imágenes/tallarines.jpg);
    background-size: cover;
    grid-column: 3/4;
    grid-row: 2/3;
}
.pastas5:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}

.pastas6 {
    background-image: url(/imágenes/ñoquisVerdes.jpg);
    background-size: cover;
    grid-column: 4/5;
    grid-row: 2/3;
}
.pastas6:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}
/*fin Pastas*/

/*Inicio Postres*/
.contenedorPostres{
    display: grid;
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-rows: 300px 300px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.postres1{
    background-image: url(/imágenes/tartaFrutal2.jpg);
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/2;
}

.postres1:hover{
    transform: rotateY(135deg);
    width: 500px;
    transition: 2s;
}

.postres2{
    background-image: url(/imágenes/chaja.jpg);
    background-size: cover;
    grid-column: 2/3;
    grid-row: 1/2;
}
.postres2:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}
.postres3{
    background-image: url(/imágenes/postreBorracho.jpg);
    background-size: cover;
    grid-column: 3/4;
    grid-row: 1/2;
}
.postres3:hover{
    transform: rotateY(135deg);
    width: 500px;
    transition: 2s;
}
.postres4{
    background-image: url(/imágenes/flanCasero.jpg);
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
}
.postres4:hover{
    transform: rotateY(135deg);
    width: 500px;
    transition: 2s;
}
.postres5{
    background-image: url(/imágenes/pastafrola.jpg);
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/3;
}
.postres5:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}
.postres6{
    background-image: url(/imágenes/turronQuaker.jpg);
    background-size: cover;
    grid-column: 3/4;
    grid-row: 2/3;
}
.postres6:hover{
    transform: rotateY(135deg);
    width: 500px;
    transition: 2s;
}
/*fin Postres*/

/*Inicio Especiales*/
.contenedorEspeciales{
    display: grid;
    width: 100%;
    column-gap: 50px;
    row-gap: 20px;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px 300px;
    margin-bottom: 5px;
    margin-top: 5px;
    justify-content: center;
}

.especiales1{
    background-image: url(/imágenes/boxPadre1.jpg);
    background-size: cover;
    grid-column: 1/2;
    grid-row: 1/2;
}

.especiales1:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}

.especiales2{
    background-image: url(/imágenes/boxPostres2.jpg);
    background-size: cover;
    grid-column: 2/3;
    grid-row: 1/2;
}
.especiales2:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}
.especiales3{
    background-image: url(/imágenes/boxPadre2.jpg);
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/3;
}
.especiales3:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}

.especiales4{
    background-image: url(/imágenes/boxMadre1.jpg);
    background-size: cover;
    grid-column: 2/3;
    grid-row: 2/3;
}
.especiales4:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}
.especiales5{
    background-image: url(/imágenes/boxMadre2.jpg);
    background-size: cover;
    grid-column: 1/2;
    grid-row: 3/4;
}
.especiales5:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}
.especiales6{
    background-image: url(/imágenes/boxMadre3.jpg);
    background-size: cover;
    grid-column: 2/3;
    grid-row: 3/4;
}
.especiales6:hover{
    transform: scale(1.2, 1.2);
    width: 500px;
    transition: 1s;
}